# Fichiers auxiliaires LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb

# Fichiers temporaires LaTeX
*.tmp
*.bak
*.sav
*.backup
*.bbl-SAVE-ERROR

# LaTeXmk
*.latexmk
*.dvi
*.xdv

# Biber / Biblatex
*.blg
*.bbl
*.bcf
*.run.xml

# VS Code
.vscode/settings.json

# macOS
.DS_Store